<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MainDictFile" value="D:\workbench\NLSC\ConnectToFB\ConnectToFB\UseJiebaSegmenter\UseJiebaSegmenter\Resources\dict.txt" />
    <add key="ProbTransFile" value="D:\workbench\NLSC\ConnectToFB\ConnectToFB\UseJiebaSegmenter\UseJiebaSegmenter\Resources\prob_trans.json" />
    <add key="ProbEmitFile" value="D:\workbench\NLSC\ConnectToFB\ConnectToFB\UseJiebaSegmenter\UseJiebaSegmenter\Resources\prob_emit.json" />

    <add key="PosProbStartFile" value="D:\workbench\NLSC\ConnectToFB\ConnectToFB\UseJiebaSegmenter\UseJiebaSegmenter\Resources\pos_prob_start.json" />
    <add key="PosProbTransFile" value="D:\workbench\NLSC\ConnectToFB\ConnectToFB\UseJiebaSegmenter\UseJiebaSegmenter\Resources\pos_prob_trans.json" />
    <add key="PosProbEmitFile" value="D:\workbench\NLSC\ConnectToFB\ConnectToFB\UseJiebaSegmenter\UseJiebaSegmenter\Resources\pos_prob_emit.json" />
    <add key="CharStateTabFile" value="D:\workbench\NLSC\ConnectToFB\ConnectToFB\UseJiebaSegmenter\UseJiebaSegmenter\Resources\char_state_tab.json" />

    <add key="StopWordsFile" value="D:\workbench\NLSC\ConnectToFB\ConnectToFB\UseJiebaSegmenter\UseJiebaSegmenter\Resources\stopwords.txt" />
    <add key="IdfFile" value="D:\workbench\NLSC\ConnectToFB\ConnectToFB\UseJiebaSegmenter\UseJiebaSegmenter\Resources\idf.txt" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultDataSource" connectionString="Data Source=ATHENA;Initial Catalog=NLSCFB;User ID=sa;Password=athena@6786"
    providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <!--
            <authentication> 區段可讓您設定 
            ASP.NET 用來識別連入使用者的 
            安全性驗證模式。 
        -->
    <authentication mode="Windows"/>
    <!--
            <customErrors> 區段可讓您設定 
            當執行要求期間發生無法處理 
            之錯誤時的處理方式。更明確地說，
            開發人員可以利用它設定要顯示的  
            html 錯誤頁面，以取代錯誤堆疊追蹤。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>